* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


nav {
    display: flex;
    background-color: #895d39;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #ffde59;
}

nav>a>img {
    width: 20%;
    margin-top: 5px;
}

nav>a {
    text-decoration: none;
    color: #ffde59;
    margin: auto;
    font-size: 1.5em;

}



.banner>img {
    width: 100%;
    margin-top: 50px;
    border-bottom: 3px solid #ffde59;
}

.quem_somos {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: #895d39;
    font-size: 2.1em;
    line-height: 1.5;
}


.quem_somos_intro {

    display: flex;
}

.quem_somos_intro_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quem_somos_intro_conteudo>h1 {
    margin-bottom: 15px;
}

.quem_somos_missao {
    display: flex;
    margin: auto;
}

.quem_somos_missao_imagem>img {
    width: 90%;
}

.quem_somos_visao {
    display: flex;
}

.quem_somos_visao_conteudo {
    text-align: right;
}

.quem_somos_visao_imagem>img {
    width: 90%;

}

.quem_somos_valores {
    display: flex;
}

.quem_somos_valores_imagem>img {
    width: 90%;
}

footer section{
    display: flex;
    background-color: #895d39;
    justify-content: center;
    color: #ffde59;
}

footer a {
    text-decoration: none;
    margin: 7px;
color: #ffde59;
}
footer p{
    background-color: #895d39;
    color: #ffde59;
    text-align: center;
    padding-bottom: 15px;
}

.imagem_footer {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagem_footer>img {
    width: 65%;

}

.conteudo_footer {
    width: 50%;
    display: flex;
    font-size: 1.5em;
    text-align: center;
    


}

.conteudo_footer h2 {
    margin-bottom: 15px;
    margin-top: 40%;
}


.navegacao_footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
   


}

.navegacao_footer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    height: 80%;
    width: 3px;
    background-color: #ffde59;
   
}


.contatos_footer {
    display: flex;
    flex-direction: column;
    width: 50%;
   
}