* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #ffde59;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    align-items: center;
    justify-content: space-around;
}
nav>a>img {
    width: 65px;
    height: auto;
}
.menu {
    text-decoration: none;
    color: #895d39;
    font-size: 1.2em; 
    padding: 5px 10px; 
    
}
.menu:hover {
    border-bottom: 3px solid #ffde59;
}

.banner>img {
    width: 100%;
   
}

.quem_somos {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: #895d39;
    font-size: 2em;
    line-height: 1.5;
    gap: 40px; 
}
.quem_somos_intro{
    display: flex;
    border: 2px solid #eee;
    box-shadow: 3px 3px 10px #ddd;
}
.quem_somos_intro_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quem_somos_intro_conteudo>h1 {
    margin-bottom: 15px;
}
.quem_somos_missao,
.quem_somos_visao,
.quem_somos_valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.quem_somos_visao {
    text-align: right;
}
.quem_somos_imagem {
    width: 135px; 
    flex-shrink: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.quem_somos_imagem > img {
    width: 100%; 
    height: auto;
    display: block;
}
.quem_somos_conteudo {
    flex: 1;
    padding: 0 20px;
    font-size: 1em;
    line-height: 1.6;
}
.quem_somos_conteudo h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #895d39;
}
.quem_somos_conteudo p {
    color: #895d39;
}


.jogos_cafes{
    color: #895d39;
    text-align: center;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
}

.jogos_cafes h1 {
    margin-top: 3em;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.jogos_cafes p {
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-size: 2em;
    line-height: 1.4;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 0 10px #ddd;
    
}

.titulo_cardapio {
    font-size: 2.8em;
    color: #895d39;
    margin-top: 40px;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
    padding: 40px;
    border-radius: 16px 16px 0 0;
    
}

/* bloco com h3 + ul */
.categoria {
    background-color: #895d39;
    border: 1px solid #523823;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    height: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.categoria h3 {
    text-align: start;
    color: #ffde59;
    font-size: 1.8em;
    border-bottom: 1px solid #523823;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.categoria ul {
    list-style-type: none;
    color: #ffde59;
    text-align: start;
}

.categoria li {
    font-size: 1.3em;
    border-bottom: 1px solid #523823;
}





footer section{
    display: flex;
    background-color: #895d39;
    justify-content: center;
    color: #ffde59;
}
footer a {
    text-decoration: none;
    margin: 7px;
color: #ffde59;
}
footer p{
    background-color: #895d39;
    color: #ffde59;
    text-align: center;
    padding-bottom: 15px;
}
.imagem_footer {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imagem_footer>img {
    width: 65%;

}
.conteudo_footer {
    width: 50%;
    display: flex;
    font-size: 1.5em;
    text-align: center;
    


}
.conteudo_footer h2 {
    margin-bottom: 15px;
    margin-top: 40%;
}
.navegacao_footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
   


}
.navegacao_footer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    height: 80%;
    width: 3px;
    background-color: #ffde59;
   
}
.contatos_footer {
    display: flex;
    flex-direction: column;
    width: 50%;
}




